html{
    font-family: "Quicksand", sans-serif;
    font-weight: bolder;
}

body{
    margin: 10px 20px;
}

.navbar{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
}

.menu{
    display: flex;
    justify-content: right;
}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo img{
    height: 30px;
}

a{
    text-decoration: none;
    color: black;
}

.home{
    display: block;
    height: 400px;
    width: 100%;
    align-items: center;
    align-content: center;
    text-align: center;
    font-size: 30px;
    line-height: 5px;
}

.container1{
    display: flex;
    gap: 20px;
}

.col1{
    padding: 10px;
    width: 20%;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
}

.col2{
    padding: 0;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content{
    padding: 10px;
    border: 3px solid black;
}

.content p{
    line-height: 20px;
}

.col3{
    padding: 10px;
    width: 30%;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
}

.container2{
    display: flex;
    gap: 50px;
    flex-direction: row;
    justify-content: center;
}

.row{
    width: 250px;
    border: 3px solid black;
    padding: 15px;
    border-radius: 50px;
}

footer{
    margin-top: 50px;
    text-align: center;
}